@import "tailwindcss";

@theme {
    --color-green-100: #FDFFFA;
    --color-green-200: #F9FFF0;
    --color-green-300: #F5FFE5;
    --color-green-400: #ECFFCC;
    --color-green-500: #D8FF99;
    --color-green-600: #C5FF66;
    --color-green-700: #b1ff33;
    --color-green-800: #9eff00;

    --color-gray-100: #E6E6E6;
    --color-gray-200: #98989A;
    --color-gray-300: #656567;
    --color-gray-400: #59595A;
    --color-gray-500: #4C4C4D;
    --color-gray-600: #333333;
    --color-gray-700: #262626;
    --color-gray-800: #191919;
}